modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "gce"
run = ["sh", "-c", "test"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/dashboard run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 3001
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 9998
externalPort = 6800

[[ports]]
localPort = 9999
externalPort = 6000

[[ports]]
localPort = 23183
externalPort = 3000

[[ports]]
localPort = 23184
externalPort = 3001

[[ports]]
localPort = 23185
externalPort = 4200

[userenv]

[userenv.shared]
SCRYPT_N = "16384"
SMTP_HOST = " smtp.gmail.com"
SMTP_USER = "lt500950@gmail.com"
SMTP_FROM = "AI Gateway lt500950@gmail.com"
SMTP_PORT = "587"
ADMIN_EMAIL = "taherlagra02@gmail.com"

[nix]
channel = "stable-25_05"
